<div class="header">
<h1>Contact Me:</h1>
<h1>Please reach me at:</h1>
<h2>Charlie Lynch</h2>
<h2>204 Main Street NW</h2>
<h2>Tucker, GA 30084</h2>
<h2>Email me at:</h2>
<h3>lynchlcl@aol.com</h3>
</div>